<table style="text-align: left;">
  <tr>
    <th>Name:</th>
    <th>
      <input [formControl]="nameControl"
             type="text"
             #name style="width: 140px">
    </th>
    <th class="error">
      {{nameValidationMessage}}
    </th>
  </tr>
  <tr>
    <th>description:</th>
    <th>
      <input type="text"
             #description style="width: 140px">
    </th>
  </tr>
  <tr>
    <th>price:</th>
    <th>
      <input [formControl]="priceControl"
             type="number"
             #price style="width: 140px">
    </th>
    <th class="error">
      {{priceValidationMessage}}
    </th>
  </tr>
  <tr>
    <th>quantity:</th>
    <th>
      <input [formControl]="quantityControl"
             type="number"
             #quantity style="width: 140px">
    </th>
    <th class="error">
      {{quantityValidationMessage}}
    </th>
  </tr>

  <tr>
    <th></th>
    <th>
      <button (click)="addProduct(name.value, description.value, price.value, quantity.value)" class="addBtn">Добавить
      </button>
    </th>
  </tr>
</table>
